<ion-header>
  <ion-navbar color="headercolor" style="height:25px;">
    <ion-title>
      Esqueci a Senha
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dimiss()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid no-padding>
    <!-- logo -->
    <ion-row  align-items-start align-items-stretch>


      <!-- Section form>-->
      <ion-col col-12>
        <form no-padding>

          <ion-row>
            <ion-col col-12 padding>
              <p description text-center>
                Para redefinir a senha, digite seu endereço de e-mail que você usou para se cadastrar.
              </p>

            </ion-col>

            <ion-col col-12>

              <div input-field>


                <ion-item no-padding>

                  <ion-input type="email" placeholder="Email"></ion-input>
                </ion-item>


              </div>


            </ion-col>

            <ion-col col-12>
              <button class="login" ion-button color="stable" block>
                Redefinir Senha
              </button>
            </ion-col>

          </ion-row>



        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
