page-login {
  /* Settings font size
  =========================================*/
  $settings-font-size-header: 24px;
  $settings-font-size-button: 12px;
  $settings-font-size-input-field: 14px;
  $settings-font-size-input-placeholder: 14px;
  $settings-font-size-description: 12px;
  $settings-font-size-label: 10px;

  /* Settings font weight
  =========================================*/
  $settings-font-weight-header: 300;
  $settings-font-weight-button: 700;
  $settings-font-weight-input-field: 400;
  $settings-font-weight-input-placeholder: 400;
  $settings-font-weight-description: 400;
  $settings-font-weight-label: 600;

  /* Settings text color
  =========================================*/
  $settings-text-color-header: #CCCCCC;
  $settings-text-color-button: #FFFFFF;
  $settings-text-input-color: #242424;
  $settings-text-input-placeholder: #CCCCCC;
  $settings-text-color-description: #242424;
  $settings-text-color-description-links: #687DFC;
  $settings-text-label-color: #FF0000;

  /* Content
  ===============================*/
  ion-content {
    font-family: 'Montserrat', sans-serif;
    position: relative;

    .scroll-content {
      padding-bottom: 0 !important;

      ion-grid {
        min-height: 100%;

        [header] {
          flex: 1;
        }

        /* Settings logo
    ===============================*/
        [logo] {
          height: 70px;
          margin-top: 50px;
          margin-left: 20px;
        }

        /* Settings title
    ===============================*/
        h1 {
          color: $settings-text-color-header;
          font-size: $settings-font-size-header;
          font-weight: $settings-font-weight-header;
          line-height: 29px;
          margin-right: 20%;
          margin-left: 20px;
          margin-bottom: 40px;
        }

        strong {
          display: block;
        }

        /* Settings form
    ===============================*/
        form {
          margin-top: 10%;

          /* Settings input-field
      ===============================*/
          [input-field] {
            border-radius: 8px;
            overflow: hidden;
            background:#fff;
            border: 1px solid #CCCCCC;

            .item:nth-last-child(1) {
              .item-inner {
                border-bottom: none !important;
              }
            }

            .item-block {
              overflow: visible !important;
            }
          }

          ion-item {
            background-color: transparent !important;

            ion-label {
              position: absolute;
              right: 0;
              bottom: 0;
              color: $settings-text-label-color !important;
              font-size: $settings-font-size-label;
              font-weight: $settings-font-weight-label;
              line-height: 17px;
              margin-right: 10px;
            }

            .item-inner {
              display: block !important;
              overflow: visible !important;
              border-bottom: 1px solid #CCCCCC !important;
              box-shadow: none !important;
            }

            /* Settings text-input
        ===============================*/
            .text-input {
              color: $settings-text-input-color;
              font-size: $settings-font-size-input-field;
              font-weight: $settings-font-weight-input-field;
              width: 100% !important;
              margin: 19px 20px;
            }

            /* Settings input-placeholder
        ===============================*/
            ::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              color: $settings-text-input-placeholder !important;
              font-size: $settings-font-size-input-placeholder !important;
              font-weight: $settings-font-weight-input-placeholder !important;
            }

            ::-moz-placeholder {
              /* Firefox 19+ */
              color: $settings-text-input-placeholder !important;
              font-size: $settings-font-size-input-placeholder !important;
              font-weight: $settings-font-weight-input-placeholder !important;
            }

            :-ms-input-placeholder {
              /* IE 10+ */
              color: $settings-text-input-placeholder !important;
              font-size: $settings-font-size-input-placeholder !important;
              font-weight: $settings-font-weight-input-placeholder !important;
            }

            :-moz-placeholder {
              /* Firefox 18- */
              color: $settings-text-input-placeholder !important;
              font-size: $settings-font-size-input-placeholder !important;
              font-weight: $settings-font-weight-input-placeholder !important;
            }
          }

          /*Settings description
      ===============================*/
          [description] {
            margin: 20px 0;

            a {
              color: $settings-text-color-description-links;
              font-size: $settings-font-size-description;
              font-weight: $settings-font-weight-description;
              text-decoration: none;
            }

            p {
              color: $settings-text-color-description;
              font-size: $settings-font-size-description;
              font-weight: $settings-font-weight-description;
              line-height: 13px;
            }
          }

          /* Settings full button - Login button
      ===============================*/
          [full] {
            min-height: 57px;
            border-radius: 8px;
            margin-top: 15px;
            color: $settings-text-color-button;
            font-size: $settings-font-size-button;
            font-weight: $settings-font-weight-button;
            letter-spacing: 2px;
            background: #f09433;
            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16) !important;
          }


        }
      }
    }
  }


    .login {
      min-height: 48px;
      border-radius: 4px;
      color: $settings-text-color-button;
      font-size: $settings-font-size-button;
      font-weight: $settings-font-weight-button;
      letter-spacing: 2px;
      background: #f46b45;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #eea849, #f46b45);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #eea849, #f46b45);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .facebook{
      min-height: 48px;
      border-radius: 4px;
      color: $settings-text-color-button;
      font-size: $settings-font-size-button;
      font-weight: $settings-font-weight-button;
      letter-spacing: 2px;
      background:#4267B2;
    }

  .instagram {
    width: 100px;
    height: 100px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  }


.toolbar-background-ios,
.toolbar-background-md {
  background: #f46b45;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eea849, #f46b45);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eea849, #f46b45);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.toolbar-title-ios,
.toolbar-title-md {
  color: #fff;
}

.bar-button-default-ios,
.bar-button-default-md,
.bar-button-default .bar-button-ios-default,
.bar-button-md-default,
.bar-button-clear-ios-default,
.bar-button-clear-md-default {
  color: #fff;
  background-color: transparent;
}

  /* Responsive for tablet
 ===============================*/
  @media (min-width: 576px) and (orientation: portrait) {
    ion-grid {
      position: relative;
    }

    [logo] {
      position: absolute;
      bottom: -50px;
      left: 20px;
    }

    h1 {
      margin-top: 50px !important;
    }

    form {
      margin-top: 0 !important;
    }
  }

  @media (min-width: 576px) and (orientation:landscape) {

    ion-grid {
      position: relative;
    }

    [logo] {
      position: absolute;
      bottom: -50px;
      left: 20px;
    }

    h1 {
      margin-top: 50px !important;
    }

    form {
      margin-top: 0 !important;
    }
  }
}
