<ion-header>

  <ion-navbar color="headercolor" style="height:25px;">
    <ion-title>
      Entrar
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="dimiss()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<!-- Themes  register-flat-->
<ion-content>
  <ion-grid no-padding>
    <!-- logo -->
    <ion-row header align-items-start align-items-stretch>

      <!-- Section form>-->
      <ion-col col-12>
        <form no-padding [formGroup]="loginForm">
          <!-- Input-field -->
          <ion-row>
            <ion-col col-12>
              <div input-field>
                <!-- Input-field-text -->
                <ion-item no-padding>
                  <ion-input type="email" id="email" formControlName="email" [formGroup]="loginForm" placeholder="Email"></ion-input>
                  <!--               <ion-label no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label>
 -->
                </ion-item>
                <!-- Input-field-password -->
                <ion-item no-padding>
                  <ion-input type="password" id="password" formControlName="password" placeholder="Digite sua senha Chit"
                    [formGroup]="loginForm"></ion-input>
                  <!-- <ion-label no  -margin *ngIf="!isPasswordValid">{{data.errorPassword}}</ion-label> -->
                </ion-item>
              </div>
            </ion-col>
            <!-- Login button -->
            <ion-col col-12>
              <button class="login" no-margin ion-button block text-uppercase on-click="LoginComEmail()" [disabled]="loginForm.invalid">Login</button>

            </ion-col>
            <ion-col col-12>
<button class="facebook" no-margin ion-button block text-uppercase (click)="facebookLogin()">Entrar com o Facebook</button>
            </ion-col>

            <ion-col>
              <!-- Description -->
              <div description text-center>
                <ion-row>
                  <!-- Reset your password button -->
                  <ion-col col-6>
                    <p no-margin no-padding on-click="goToEsqueciSenha()"> <a>Esqueci a Senha</a> </p>
                  </ion-col>
                  <!-- Signup now button -->
                  <ion-col col-6>
                    <p no-margin no-padding on-click="goToCadastrarVoc()"><a>Criar uma Conta</a> </p>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
