<ion-header>
  <ion-navbar>
    <ion-title>
      Avaliações
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page11">
  <ion-list id="avaliaEs-list10">
    <ion-item color="none" id="avaliaEs-list-item23">
      <ion-avatar item-left>
        <img />
      </ion-avatar>
      <h2>
        Teste
      </h2>
    </ion-item>
    <ion-item color="none" id="avaliaEs-list-item24">
      <ion-avatar item-left>
        <img />
      </ion-avatar>
      <h2>
        Teste 2
      </h2>
    </ion-item>
  </ion-list>
</ion-content>