<ion-header>
  <ion-navbar color="headercolor" style="height:25px;">
    <ion-title>
      Imagens do Local
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dimiss()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<!-- Themes  register-flat-->
<ion-content no-padding id="page5">
  <ion-grid no-padding>
    <!-- logo -->
    <ion-row>
      <!-- Section form>-->
      <ion-col col-12>
        <form no-padding>
          <!-- Input-field -->
          <ion-row>

            <!-- <ion-col col-12 padding>
              <img src="assets/img/1I5TVJ1XSeCjdVxyZlRr_img_245305.png" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />

            </ion-col> -->
            <ion-col col-12>


              <div input-field>
                <ion-item-divider color="light">
                  Selecione as imagens ou tire fotos
                </ion-item-divider>

                <ion-row>
                  <ion-col col-12>
                    <button class="login" ion-button block on-click="openImagePicker()">
                      <ion-icon name="images"></ion-icon> &nbsp;&nbsp;
                      Selecionar Imagens
                    </button>
                  </ion-col>
                  <ion-col col-12>
                    <button class="fotos" color="danger" ion-button on-click="openImagePickerCrop()" block>
                      <ion-icon name="camera"></ion-icon> &nbsp;&nbsp;

                      Tirar Fotos
                    </button>
                  </ion-col>

                </ion-row>

              </div>
            </ion-col>


          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
