<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-12 padding class="image">

      <img class="circle-pic" src="http://i.pravatar.cc/300">

      <!-- <img src="" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" /> -->
    </ion-col>

    <ion-col col-12 text-center>
      <p>Teste User</p>
    </ion-col>
    <ion-col col-12>
      <ion-item>
        <ion-label >
          Texto para validar
        </ion-label>
        <ion-input type="text" [(ngModel)]="encodeText" ></ion-input>
      </ion-item>
      <button ion-button block color="master" (click)="encode()">
        Encode
      </button>
      <button ion-button block color="master" (click)="scan()">
        Scan
      </button>
    </ion-col>
    <ion-col col-12 *ngIf="scannerData.text">
      <label>QR Code</label>
      <span>{{ scannerData }}</span>
    </ion-col>
  </ion-row>
</ion-content>
