<ion-header>
  <ion-navbar color="headercolor" style="height:25px;">
    <ion-title>
      Cadastrar você
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dimiss()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content id="page3">
  <ion-grid no-padding>
    <!-- logo -->
    <ion-row header align-items-start align-items-stretch>


      <!-- Section form>-->
      <ion-col col-12>
        <ion-row>
          <ion-col col-12 class="button-top">
            <button class="estabelecimento" ion-button color="warning" block on-click="goToCadastroEstabelecimento()">
              Sou Estabelecimento!
            </button>
          </ion-col>
          <ion-col col-12>
            <button class="facebook" no-margin ion-button block text-uppercase>Cadastrar com o Facebook</button>
          </ion-col>
        </ion-row>


        <form no-padding [formGroup]="signupForm">
          <!-- <ion-row>
            <ion-col col-12 padding>
              <ion-item class="image-upload">
                <ion-input class="upload" id="input-file" type="file"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row> -->


          <ion-row>
            <ion-col col-12>

              <div input-field>
                <ion-item-divider color="light" id="cadastrarVoc-list-item-divider1">
                  Dados Pessoais
                </ion-item-divider>
                <ion-item no-padding>
                  <ion-input type="text" id="nome" formControlName="nome" [formGroup]="signupForm" placeholder="Nome"></ion-input>
                </ion-item>



                <ion-item no-padding>
                  <ion-input type="text" id="sobrenome" formControlName="sobrenome" [formGroup]="signupForm"
                    placeholder="Sobrenome"></ion-input>
                </ion-item>

                <ion-item no-padding>

                  <ion-input type="email" id="email" formControlName="email" [formGroup]="signupForm" placeholder="Email"></ion-input>
                </ion-item>
                <ion-item no-padding>
                  <ion-input type="password" id="password" formControlName="password" placeholder="Digite sua senha Chit"
                    [formGroup]="signupForm"></ion-input>
                </ion-item>
                <ion-item no-padding>

                  <ion-input type="password" id="confirmPassword" formControlName="confirmPassword" [formGroup]="signupForm"
                    placeholder="Confirme sua senha"></ion-input>
                </ion-item>


              </div>


            </ion-col>

            <ion-col col-12>
              <button class="login" ion-button color="stable" block on-click="onSubmit()" [disabled]="signupForm.invalid">
                Cadastrar
              </button>
            </ion-col>

          </ion-row>



        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
