<ion-header>
  <ion-navbar>
    <ion-title>
      Cupom
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page8">
  <button id="cupom-button13" ion-button color="balanced" full >
    Acompanhar Cupons
  </button>

  <div class="spacer" style="height:50px;" id="cupom-spacer2"></div>
  <div id="cupom-markdown13" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      <strong>
        Atenção:
      </strong>
      Para validar seu cupom entre com o codigo entregue pelo o vendedor.
    </p>
  </div>
  <form id="cupom-form13">
    <ion-item id="cupom-input18">
      <ion-label>
        Entre com o Codigo do Restaurante
      </ion-label>
      <ion-input type="text" placeholder=""></ion-input>
    </ion-item>
  </form>
  <button id="cupom-button12" ion-button color="positive" full>
    Cadastrar Cupom
  </button>
</ion-content>
