page-restaurantes {

  .ion-searchbar,
  .searchbar-ios,
  .searchbar-md {
    background: #f46b45 !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 0.55px solid #f46b45 !important;
  }

  .img-logo-header {
    width: 85%;
  }
.toolbar-ios-primary .toolbar-background-ios {
  background: #488aff;
}
  .toolbar-background-ios,
  .toolbar-background-md {
    background: #f46b45;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .toolbar-title-ios,
  .toolbar-title-md {
    color: #fff;
  }

  .bar-button-default-ios,
  .bar-button-default-md,
  .bar-button-default .bar-button-ios-default,
  .bar-button-md-default,
  .bar-button-clear-ios-default,
  .bar-button-clear-md-default {
    color: #fff;
    background-color: transparent;
  }

  ion-fab[middle] {
    margin-top: 0px;
    top: 50%;
  }

  .tickets {
    margin: 0 25% !important;
  }

  ion-fab[right] {
    right: 10px;
    right: calc(10px + constant(safe-area-inset-right));
    right: calc(20px + env(safe-area-inset-right));
  }


}
