<!--
  Generated template for the RestaurantesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="headercolor" style="height:25px;">
    <ion-buttons start menuToggle>
      <button ion-button>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      <img class="img-logo-header" src="assets/img/logo-white.png" alt="" />
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon ios="ios-qr-scanner" md="md-qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding color="light">
  <ion-searchbar #searchbar placeholder="o que deseja?" [hidden]="!search" (ionInput)="searchAction($event)"
    [(ngModel)]="queryText"></ion-searchbar>

  <ion-fab right bottom (click)="toggleSearch()">
    <button ion-fab class="pop-in" color="master">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-fab>

  <ion-row>
    <ion-col no-padding>
      <ion-card *ngFor="let e of (estabelecimentos | async)" (click)="goToDetalheRestaurante(e)">
        <!-- <img src="assets/img/oferta.jpg"> -->

        <ion-item>
          <ion-avatar item-start>
            <img src="assets/img/logo-perfil.jpg" />
          </ion-avatar>
          <h2>{{ e.nome }}</h2>
          <p>
            <ion-icon name="pin"></ion-icon> {{ e.logradouro }} -
            {{ e.numero }} - {{ e.bairro }} - {{ e.complemento }} -
            {{ e.cep }} - {{ e.cidade }} - {{ e.estado }}
          </p>
          <p>
            Horário: {{ e.horario }}
          </p>
        </ion-item>

        <ion-item>
          <span item-start>
            <ion-icon name="star" color="warning"></ion-icon> 4,6
          </span>
          <span item-start text-center center class="tickets">
            <img src="assets/img/tickets.png" />
          </span>
          <button ion-button icon-start clear item-end>
            <ion-icon color="danger" name="heart"></ion-icon>
          </button>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
