<ion-content>
  <ion-grid>

    <ion-row header align-items-start align-items-stretch>
      <ion-col col-12>
        <img class="img-logo-screen" src="./../../assets/img/logo-white-xs.png" alt="">

      </ion-col>
      <ion-col col-12 align-items-center align-items-stretch>
        <p class="info-login">
          Chit é um aplicativo mobile de cartões de fidelidade.
        </p>
        <p class="info-login">
          Que oferece promoções, cupons de descontos e novidades daquele lugares que você gosta.
        </p>
      </ion-col>



      <!-- Login button -->
      <ion-col col-6>
<button ion-button block color="light" (click)="goToLogin()">Entrar</button>

      </ion-col>
      <!-- Login button -->
      <ion-col col-6>
<button ion-button block color="light" outline (click)="goToCadastro()">Criar uma conta</button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
