<ion-header>
  <ion-navbar color="headercolor" style="height:25px;">
    <ion-title>
      Cadastrar Estabelecimento
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dimiss()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<!-- Themes  register-flat-->
<ion-content no-padding id="page5">
  <ion-grid no-padding>
    <!-- logo -->
    <ion-row>
      <!-- Section form>-->
      <ion-col col-12>
        <form no-padding [formGroup]="signupForm">
          <!-- Input-field -->
          <ion-row>

            <ion-col col-12 padding>
              <img src="{{ base64Image }}" style="display:block;width:40%;height:auto;margin-left:auto;margin-right:auto;" />
            </ion-col>
            <ion-col col-12>


              <div input-field>
                <ion-item-divider color="light">
                  Dados do Estabelecimento
                </ion-item-divider>
                <ion-item no-padding>
                  <ion-input type="text" id="nome" formControlName="nome" [formGroup]="signupForm" placeholder="Nome Local"></ion-input>
                </ion-item>
                <ion-item no-padding>
                  <ion-textarea type="text" id="descricao" formControlName="descricao" [formGroup]="signupForm"
                    placeholder="Descrição"></ion-textarea>
                </ion-item>

                <ion-item no-padding>
                  <ion-input type="text" id="horario" formControlName="horario" [formGroup]="signupForm" placeholder="Horários de Funcionamento"></ion-input>
                </ion-item>
                <ion-item no-padding>
                  <ion-input type="tel" id="telefone" formControlName="telefone" [formGroup]="signupForm" placeholder="(00) 0000-0000"
                    [brmasker]="{phone: true}"></ion-input>
                </ion-item>
                <ion-item no-padding>
                  <ion-input type="text" id="cnpj" formControlName="cnpj" [formGroup]="signupForm" placeholder="CNPJ"
                    [brmasker]="{mask:'00.000.000/0000-00', len:18}"></ion-input>
                </ion-item>
                <ion-item no-padding>
                  <ion-input type="email" id="email" formControlName="email" [formGroup]="signupForm" placeholder="Email"></ion-input>
                </ion-item>
                <ion-item no-padding>
                  <ion-input type="password" id="password" formControlName="password" [formGroup]="signupForm"
                    placeholder="Senha"></ion-input>
                  <span>minimo 6 </span>
                </ion-item>
                <ion-item no-padding>
                  <ion-input type="password" id="confirmPassword" formControlName="confirmPassword" [formGroup]="signupForm"
                    placeholder="Repetir Senha"></ion-input>
                </ion-item>
              </div>
            </ion-col>



            <ion-col col-12>

              <button class="login" ion-button color="stable" block on-click="onSubmit()" [disabled]="signupForm.invalid">
                Proximo
              </button>
            </ion-col>


          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
