ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}

page-map {

    /* Settings font size
  =========================================*/
    $settings-font-size-header: 24px;
    $settings-font-size-button: 12px;
    $settings-font-size-input-field: 14px;
    $settings-font-size-input-placeholder: 14px;
    $settings-font-size-description: 12px;
    $settings-font-size-label: 10px;

    /* Settings font weight
  =========================================*/
    $settings-font-weight-header: 300;
    $settings-font-weight-button: 700;
    $settings-font-weight-input-field: 400;
    $settings-font-weight-input-placeholder: 400;
    $settings-font-weight-description: 400;
    $settings-font-weight-label: 600;

    /* Settings text color
  =========================================*/
    $settings-text-color-header: #CCCCCC;
    $settings-text-color-button: #FFFFFF;
    $settings-text-input-color: #242424;
    $settings-text-input-placeholder: #CCCCCC;
    $settings-text-color-description: #242424;
    $settings-text-color-description-links: #687DFC;
    $settings-text-label-color: #FF0000;

    #map {
      height: 100%;
    }

      .ion-searchbar,
      .searchbar-ios,
      .searchbar-md {
        background: #f46b45 !important;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eea849, #f46b45) !important;
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eea849, #f46b45) !important;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        // border-bottom: 0.55px solid #f46b45 !important;
      }

      .img-logo-header {
        width: 85%;
      }

      .toolbar-background-ios,
      .toolbar-background-md {
        background: #f46b45;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eea849, #f46b45);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eea849, #f46b45);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }

      .toolbar-title-ios,
      .toolbar-title-md {
        color: #fff;
      }

      .bar-button-default-ios,
      .bar-button-default-md,
      .bar-button-default .bar-button-ios-default,
      .bar-button-md-default,
      .bar-button-clear-ios-default,
      .bar-button-clear-md-default {
        color: #fff;
        background-color: transparent;
      }

      [full] {
        min-height: 57px;
        // border-radius: 8px;
        margin-top: 15px;
        color: $settings-text-color-button;
        font-size: $settings-font-size-button;
        font-weight: $settings-font-weight-button;
        letter-spacing: 2px;
        background: #f46b45;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eea849, #f46b45);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eea849, #f46b45);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
}
.geolocation-btn{
  margin: 0px;
  padding: 0px;
}
