<ion-header>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <div id='map'></div>
</ion-content>

<ion-footer>
  <button class="geolocation-btn" ion-button full (click)="tryGeolocation()"> Proximo </button>
</ion-footer>
