<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>VOUPOM</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{ p.title }}
      </button>
<button menuClose ion-item  (click)="logout()">
       SAIR
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
