<ion-header>
  <ion-navbar color="headercolor" style="height:25px;">
    <ion-title>
      Cadastrar Estabelecimento
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dimiss()">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<!-- Themes  register-flat-->
<ion-content no-padding id="page5">
  <ion-grid no-padding>
    <!-- logo -->
    <ion-row>
      <!-- Section form>-->
      <ion-col col-12>
        <form no-padding [formGroup]="addressForm">
          <!-- Input-field -->
          <ion-row>

            <ion-col col-12>
              <!--
public logradouro: string,
public numero: string,
public bairro: string,
public cidade: string,
public estado: string, -->
              <div input-field>
                <ion-item-divider color="light">
                  Endereço do Estabelecimento
                </ion-item-divider>

                <ion-item no-padding>
                  <ion-input type="text" id="cep" formControlName="cep" [formGroup]="addressForm" placeholder="CEP"
                    [brmasker]="{mask:'00.000-000', len:10}"></ion-input>
                </ion-item>
                <ion-item no-padding>
                  <ion-input type="text" id="logradouro" formControlName="logradouro" [formGroup]="addressForm"
                    placeholder="Logradouro"></ion-input>
                </ion-item>
                <ion-item no-padding>
                  <ion-input type="number" id="numero" formControlName="numero" [formGroup]="addressForm" placeholder="Numero">
                  </ion-input>
                </ion-item>
                <ion-item no-padding>
                  <ion-input type="text" id="bairro" formControlName="bairro" [formGroup]="addressForm" placeholder="Bairro"></ion-input>
                </ion-item>

                <ion-item no-padding>
                  <ion-input type="text" id="cidade" formControlName="cidade" [formGroup]="addressForm" placeholder="Cidade"></ion-input>
                </ion-item>

                <ion-item id="ion-item-estado">
                  <ion-select id="estado" formControlName="estado" placeholder="Estado" [formGroup]="addressForm">
                    <ion-option value="AC">Acre</ion-option>
                    <ion-option value="AL">Alagoas</ion-option>
                    <ion-option value="AP">Amapá</ion-option>
                    <ion-option value="AM">Amazonas</ion-option>
                    <ion-option value="BA">Bahia</ion-option>
                    <ion-option value="CE">Ceará</ion-option>
                    <ion-option value="DF">Distrito Federal</ion-option>
                    <ion-option value="ES">Espírito Santo</ion-option>
                    <ion-option value="GO">Goiás</ion-option>
                    <ion-option value="MA">Maranhão</ion-option>
                    <ion-option value="MT">Mato Grosso</ion-option>
                    <ion-option value="MS">Mato Grosso do Sul</ion-option>
                    <ion-option value="MG">Minas Gerais</ion-option>
                    <ion-option value="PA">Pará</ion-option>
                    <ion-option value="PB">Paraíba</ion-option>
                    <ion-option value="PR">Paraná</ion-option>
                    <ion-option value="PE">Pernambuco</ion-option>
                    <ion-option value="PI">Piauí</ion-option>
                    <ion-option value="RJ">Rio de Janeiro</ion-option>
                    <ion-option value="RN">Rio Grande do Norte</ion-option>
                    <ion-option value="RS">Rio Grande do Sul</ion-option>
                    <ion-option value="RO">Rondônia</ion-option>
                    <ion-option value="RR">Roraima</ion-option>
                    <ion-option value="SC">Santa Catarina</ion-option>
                    <ion-option value="SP">São Paulo</ion-option>
                    <ion-option value="SE">Sergipe</ion-option>
                    <ion-option value="TO">Tocantins</ion-option>
                  </ion-select>
                </ion-item>

                <ion-item no-padding>
                  <ion-input type="text" id="complemento" formControlName="complemento" [formGroup]="addressForm"
                    placeholder="Complemento"></ion-input>
                </ion-item>


              </div>
            </ion-col>


            <ion-col col-12>

              <button class="login" ion-button color="stable" block on-click="saveAddress()" [disabled]="addressForm.invalid">
                Proximo
              </button>
            </ion-col>


          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
