<ion-header>
  <ion-navbar>
    <ion-title>
      Avaliação
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page9">
  <button id="avaliaO-button15" ion-button color="energized" full on-click="goToAvaliaEs()">
    Acompanhar Avaliações
  </button>
  <div id="avaliaO-markdown14" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Para avaliar, seja sincêro assim como os outros
      <strong>
        Obrigado
      </strong>
    </p>
  </div>
  <form id="avaliaO-form16">
    <ion-item id="avaliaO-range2">
      <ion-range min="0" max="5" step="1" color="energized" value="5">
        <ion-label range-left>
          Avaliar
        </ion-label>
      </ion-range>
    </ion-item>
    <ion-item id="avaliaO-textarea5">
      <ion-label>
        Comentário
      </ion-label>
      <ion-textarea placeholder=""></ion-textarea>
    </ion-item>
  </form>
  <button id="avaliaO-button14" ion-button color="positive" full>
    Cadastrar Avaliação
  </button>
</ion-content>