<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only class="icon-ticket">
        <img src="assets/img/movie-tickets.png" />
      </button>
      <button ion-button icon-only>
        <ion-icon name="star"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding id="page7">
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <ion-slides pager="true" class="image-slider">
          <ion-slide>
            <img src="assets/img/oferta03.jpg" style="max-height:400px; width: 320px;height: 320px;" #myImage (click)="presentImage(myImage)" />
            <div class="product-title" text-wrap="">Food truck</div>
          </ion-slide>
          <ion-slide>
            <img src="assets/img/oferta02.jpg" style="max-height:400px; width: 320px;height: 320px;" />
            <div class="product-title" text-wrap="">Oferta</div>
          </ion-slide>
          <ion-slide>
            <img src="assets/img/oferta.jpg" style="max-height:400px; width: 320px;height: 320px;" />
            <div class="product-title" text-wrap="">Oferta</div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col col-12 no-padding>
        <h3 id="detalheRestaurante-heading1" style="color:#000000;">
          {{ detalheRestaurante.nome }}
        </h3>

        <ion-card no-padding class="card-info">
          <ion-card-content>
            <!--
              <h1>
                4,6
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star" color="warning"></ion-icon>
                <ion-icon name="star-half" color="warning"></ion-icon>
                <ion-icon name="star-outline" color="warning"></ion-icon>
              <śh1>
            -->

            <p description>
              <ion-badge color="warning">
                <ion-icon name="star" color="white">
                  <span> 4,6 </span>
                </ion-icon>
              </ion-badge>
              45 votaram
            </p>
          </ion-card-content>
        </ion-card>

        <ion-card no-padding class="card-info">
          <ion-card-content>
            <div id="detalheRestaurante-markdown11" class="show-list-numbers-and-dots">
              <p style="color:#000000;">Horário: {{ detalheRestaurante.horario }}</p>
              <p style="color:#000000;">Descrição: {{ detalheRestaurante.descricao }}</p>
              <p style="color:#000000;">Telefone: {{ detalheRestaurante.telefone }}</p>
              <p style="color:#000000;">CNPJ: {{ detalheRestaurante.cnpj }}</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6 text-center>
        <button class="login" ion-button outline item-end icon-start on-click="goToCupom()">
          <img src="assets/img/movie-tickets.png" /> &nbsp;&nbsp;Cupom
        </button>
      </ion-col>
      <ion-col col-6 text-center>
        <button class="btn-avalia" ion-button outline item-end icon-start on-click="goToAvaliaO()">
          <ion-icon name="star"></ion-icon>
          Avaliar
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-card class="card-info">
          <ion-card-content>
            <b>Endereço</b>: {{ detalheRestaurante.logradouro }} -
            {{ detalheRestaurante.numero }} - {{ detalheRestaurante.bairro }} - {{ detalheRestaurante.complemento }} -
            {{ detalheRestaurante.cep }} - {{ detalheRestaurante.cidade }} - {{ detalheRestaurante.estado }}


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <div #map id="map">

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
