page-detalhe-restaurante {
  /* Settings font size
  =========================================*/
  $settings-font-size-header: 24px;
  $settings-font-size-button: 12px;
  $settings-font-size-input-field: 14px;
  $settings-font-size-input-placeholder: 14px;
  $settings-font-size-description: 12px;
  $settings-font-size-label: 10px;

  /* Settings font weight
  =========================================*/
  $settings-font-weight-header: 300;
  $settings-font-weight-button: 700;
  $settings-font-weight-input-field: 400;
  $settings-font-weight-input-placeholder: 400;
  $settings-font-weight-description: 400;
  $settings-font-weight-label: 600;

  /* Settings text color
  =========================================*/
  $settings-text-color-header: #CCCCCC;
  $settings-text-color-button: #FFFFFF;
  $settings-text-input-color: #242424;
  $settings-text-input-placeholder: #CCCCCC;
  $settings-text-color-description: #242424;
  $settings-text-color-description-links: #687DFC;
  $settings-text-label-color: #FF0000;


  .img-logo-header {
    width: 33%;
  }

  .toolbar-background-ios,
  .toolbar-background-md {
    background: #f46b45;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .toolbar-title-ios,
  .toolbar-title-md {
    color: #fff;
  }

  .bar-button-default-ios,
  .bar-button-default-md,
  .bar-button-default .bar-button-ios-default,
  .bar-button-md-default,
  .bar-button-clear-ios-default,
  .bar-button-clear-md-default {
    color: #fff;
    background-color: transparent;
  }

  ion-fab[middle] {
    margin-top: 0px;
    top: 50%;
  }

  .tickets {
    margin: 0 25% !important;
  }

  ion-fab[right] {
    right: 10px;
    right: calc(10px + constant(safe-area-inset-right));
    right: calc(20px + env(safe-area-inset-right));
  }

  ion-slides {
    display: block;
    width: 100%;
    height: auto;
  }

  .product-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    border: 0;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    text-align: left;
    height: 60px;
  }

  #detalheRestaurante-heading1 {
    font-weight: 300;
    text-align: center;
  }

  .card-info {
    border-radius: 5px !important;
    border-left: 5px solid #f46b45 !important;
  }

  .btn-avalia {
    min-height: 48px;
    border-radius: 4px;
    font-size: $settings-font-size-button;
    font-weight: $settings-font-weight-button;
    letter-spacing: 2px;
    border: 1px solid #fdd100;
    color:#fff;
    background:#fdd100;
  }

  .login {
    min-height: 48px;
    border-radius: 4px;
    color: $settings-text-color-button;
    font-size: $settings-font-size-button;
    font-weight: $settings-font-weight-button;
    letter-spacing: 2px;
    background: #f46b45;
    border: #f46b45;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .full-btn {
    min-height: 48px;
    width: 100%;
    border-radius: 0px;
    color: $settings-text-color-button;
    font-size: $settings-font-size-button;
    font-weight: $settings-font-weight-button;
    letter-spacing: 2px;
    background: #f46b45;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }


  .icon-ticket {
    margin-right: 15px;
  }

  [description] {


    a {
      color: $settings-text-color-description-links;
      font-size: $settings-font-size-description;
      font-weight: $settings-font-weight-description;
      text-decoration: none;
    }

    p {
      color: $settings-text-color-description;
      font-size: $settings-font-size-description;
      font-weight: $settings-font-weight-description;
      line-height: 13px;
    }
  }

  #map {
    height: 300px;
    width: 100%;
  }


}
